<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
  <title>编辑认证信息</title>
  <link rel="stylesheet" type="text/css" href="../css/api.css" />
  <link rel="stylesheet" type="text/css" href="../css/edit.css" />
</head>

<body>
  <div id="app" v-cloak>
    <div class="wrap flex-wrap flex-vertical">
      <header id="header" class=" border-bottom">
        <div class="header-wrap">
          <div @click="goback" class="header-left">
            <i class="iconfont icon-pre"></i>
          </div>
          <h1 class="header-title">编辑认证信息</h1>
        </div>
      </header>
      <div class="flex-con">
        <div v-if='form.lx==2'>
          <div class="editConfirm-tishi">
            <p>请模仿下图示例动作，进行自拍</p>
            <div class="editConfirm-tishiImgBox">
              <div class="editConfirm-tishiImg">
                <img src='../image/photo.png'>
              </div>
              <div @click="showActionSheet" class="editConfirm-tishiImg">
                <img :src="avatar" alt="">
              </div>
            </div>
            <p class="editConfirm-tishi-b">*此照片仅供官方审核性别使用，不出现在APP内</p>
          </div>
          <div class="form-item flex-wrap sex-wrap">
            <label v-for="(item, i) in sex" :key="i" @click="selectSex(item.value)"
              :class="['sex', 'sex' + item.value, sexIndex == item.value ? 'active' : '']">
              <i :class="['iconfont', 'icon-sex' + (item.value+1)]"></i>{{item.label}}
            </label>
          </div>
          <div class="edit-info">
            <div class="input-wrap border-bottom">
              <div class="label">身高</div>
              <input v-model="form.height" type="text" placeholder="请填写身高(cm)">
            </div>
            <div class="input-wrap border-bottom">
              <div class="label">体重</div>
              <input v-model="form.weight" type="text" placeholder="请填写体重(kg)">
            </div>
            <div class="input-wrap border-bottom">
              <div class="label">年龄</div>
              <input v-model="form.age" type="text" placeholder="请填写年龄">
            </div>
            <!-- <div class="input-wrap border-bottom">
              <div class="label">真实姓名</div>
              <input v-model="form.realname" type="text" placeholder="请填写真实姓名">
            </div> -->
            <!-- <div class="input-wrap border-bottom">
              <div class="label">价格</div>
              <input v-model="form.price" type="text" placeholder="多少币每半小时">
            </div> -->
            <!-- <div class="input-wrap border-bottom">
              <div class="label">服务类目</div>
              <div @click='selectoCate' class="value">{{cateText}}</div>
            </div> -->
            <!-- <div class="input-wrap border-bottom">
            <div class="label">身份证号</div>
            <input v-model="form.realname" type="text" placeholder="请填写身份证号">
          </div> -->
            <!-- <div class="input-wrap">
            <div class="label">职业</div>
            <input v-model="form.occupation" type="text" placeholder="请填写职业">
          </div>  -->
            <!-- <div class="input-wrap border-bottom">
            <div class="label">星座</div>
            <div @click="actionSelector" class="value">{{constellationText}}</div>
          </div> -->
            <!-- <div class="input-wrap">
            <div class="label">个人介绍</div>
            <input v-model="form.about" type="text" placeholder="请填写个人信息">
          </div>  -->
            <!-- <div class="input-wrap border-bottom">
              <div class="label">微信账号</div>
              <input v-model="form.wechat_id" type="text" placeholder="请填写微信账号">
            </div>
            <div class="input-wrap border-bottom">
              <div class="label">手机号码</div>
              <input v-model="form.tel" type="number" placeholder="请填写手机号码">
            </div> -->
          </div>
        </div>
        <!-- <div class="identity-content">
          <p>身份证照片</p>
          <div class="identity-item">
            <span>手持身份证</span>
            <div class="img-wrap">
              <img src="../image/shouchi.png" alt="" class="blur">
            </div>
          </div>
          <div class="identity-item">
            <span>正面照</span>
            <div class="img-wrap">
              <img src="../image/shouchi.png" alt="" class="blur">
            </div>
          </div>
          <div class="identity-item">
            <span>反面照</span>
            <div class="img-wrap">
              <img src="../image/shouchi.png" alt="" class="blur">
            </div>
          </div>
        </div> -->
        <div class="auth-game" v-if="form.lx==1">
          <div class="flex-con">
            <div class="editConfirm-tishi">
              <p>技术水平证明截图(包含清晰ID和当前段位)</p>
              <div class="editConfirm-tishiImgBox">
                <!-- <div class="editConfirm-tishiImg">
                  <img src='../image/photo.png'>
                </div> -->
                <div @click="showActionSheet" class="editConfirm-tishiImg" style="height:150px">
                  <img :src="avatar" alt="" style="height:150px">
                </div>
              </div>
              <!-- <p class="editConfirm-tishi-b">*此照片仅供官方审核性别使用，不出现在APP内</p> -->
            </div>
            <div class="form-item flex-wrap sex-wrap">
              <label v-for="(item, i) in sex" :key="i" @click="selectSex(item.value)"
                :class="['sex', 'sex' + item.value, sexIndex == item.value ? 'active' : '']">
                <i :class="['iconfont', 'icon-sex' + (item.value+1)]"></i>{{item.label}}
              </label>
            </div>
            <div class="edit-info">
              <div class="input-wrap border-bottom">
                <div class="label">技能水平</div>
                <input v-model="form.level" type="text" placeholder="请填写段位">
              </div>
              <div class="input-wrap border-bottom">
                <div class="label">大区</div>
                <input v-model="form.regional" type="text" placeholder="微信区或QQ区">
              </div>
              <div class="input-wrap border-bottom">
                <div class="label">年龄</div>
                <input v-model="form.age" type="number" placeholder="请填写年龄">
              </div>
              <!-- <div class="input-wrap border-bottom">
                <div class="label">真实姓名</div>
                <input v-model="form.realname" type="text" placeholder="请填写真实姓名">
              </div> -->
              <!-- <div class="input-wrap border-bottom">
                <div class="label">价格</div>
                <input v-model="form.price" type="number" placeholder="多少价格每局">
              </div> -->
              <!-- <div class="input-wrap border-bottom">
                <div class="label">服务类目</div>
                <div @click='selectoCate' class="value">{{cateText}}</div>
              </div> -->
              <!-- <div class="input-wrap border-bottom">
                <div class="label">身份证号</div>
                <input v-model="form.realname" type="text" placeholder="请填写身份证号">
              </div> -->
              <!-- <div class="input-wrap">
                <div class="label">职业</div>
                <input v-model="form.occupation" type="text" placeholder="请填写职业">
              </div>  -->
              <!-- <div class="input-wrap border-bottom">
                <div class="label">星座</div>
                <div @click="actionSelector" class="value">{{constellationText}}</div>
              </div> -->
              <!-- <div class="input-wrap">
                <div class="label">个人介绍</div>
                <input v-model="form.about" type="text" placeholder="请填写个人信息">
              </div>  -->
              <!-- <div class="input-wrap border-bottom">
                <div class="label">微信账号</div>
                <input v-model="form.wechat_id" type="text" placeholder="请填写微信账号">
              </div>
              <div class="input-wrap border-bottom">
                <div class="label">手机号码</div>
                <input v-model="form.tel" type="number" placeholder="请填写手机号码">
              </div> -->
            </div>
            <!-- <div class="identity-content">
              <p>身份证照片</p>
              <div class="identity-item">
                <span>手持身份证</span>
                <div class="img-wrap">
                  <img src="../image/shouchi.png" alt="" class="blur">
                </div>
              </div>
              <div class="identity-item">
                <span>正面照</span>
                <div class="img-wrap">
                  <img src="../image/shouchi.png" alt="" class="blur">
                </div>
              </div>
              <div class="identity-item">
                <span>反面照</span>
                <div class="img-wrap">
                  <img src="../image/shouchi.png" alt="" class="blur">
                </div>
              </div>
            </div> -->
          </div>
        </div>
        <div class="btn-wrap border-bottom">
          <button @click='confirm' type="button" :disabled="isDisabled"
            :class="[isDisabled ?'btn-active':'btn']">提交认证申请</button>
        </div>
      </div>

    </div>

  </div>
</body>

</html>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/vue.js"></script>
<script type="text/javascript" src="../script/common.js"></script>
<script type="text/javascript">
  var app;
  apiready = function () {
    // if (api.systemType == 'android') {
    //   api.setScreenSecure({
    //     secure: true
    //   });
    // }
    $api.fixStatusBar($api.dom('#header'));
    api.setStatusBarStyle({
      style: 'dark'
    });
    app = new Vue({
      el: '#app',
      data: {
        sex: [{
          label: '男生',
          value: '1'
        }, {
          label: '女生',
          value: '2'
        }],
        sexIndex: 1,
        form: {
          yy_id:'',
          member_id: $api.getStorage('uid'),
          height: '',
          weight: '',
          age: '',
          // about: '',
          // occupation: '',
          realname: '',
          picture: '',
          // constellation: 0,
          wechat_id: '',
          tel: '',
          sex: 1,
          // price: '',
          lx: 0,
          level: '',
          regional: '',
        },
        isDisabled: false,
        avatar: '../image/camera.png',
        qiniuToken: '',
        constellationText: '请选择星座',
        cateText: '请选择服务类目',
        },
      created: function () {

      },
      mounted: function () {
        this.form.lx = api.pageParam.type
        this.form.yy_id=api.pageParam.yy_id
        this.getQiniuToken();

      },
      methods: {
        // 点击性别
        selectSex: function (index) {
          this.sexIndex = index;
          this.form.sex = index;
        },
        showActionSheet: function () {
          var _this = this;
          api.actionSheet({
            title: '',
            cancelTitle: '取消',
            destructiveTitle: '',
            buttons: ['拍照', '相册']
          }, function (ret, err) {
            if (ret) {
              if (ret.buttonIndex == 1) {
                _this.getImageFile('camera');
              }
              if (ret.buttonIndex == 2) {
                _this.getImageFile('library');
              }
            }
          });
        },
        getImageFile: function (type) {
          var _this = this;
          api.getPicture({
            sourceType: type,
            encodingType: 'png',
            mediaValue: 'pic',
            destinationType: 'url',
            allowEdit: true,
            // quality: 100,
            targetWidth: 500,
            targetHeight: 500,
            saveToPhotoAlbum: false
          }, function (ret, err) {
            if (ret) {
              _this.uploadImg(ret.data)
            }
          });
        },
        // 上传图片
        uploadImg: function (fileUrl) {
          var _this = this;
          api.ajax({
            url: qiniuBaseUrl,
            method: 'post',
            data: {
              values: {
                token: this.qiniuToken
              },
              files: {
                file: fileUrl
              }
            }
          }, function (ret, err) {
            console.log(JSON.stringify(err))
            if (ret) {
              _this.form.picture = ret.key;
              _this.avatar = qiniuImageUrl + ret.key + '?imageView2/1/w/300';
            }
            if (err) {
              api.toast({
                msg: '网络错误，请稍后再试'
              })
            }
          });
        },
        // 获取七牛token
        getQiniuToken: function () {
          var _this = this;
          axios('get_token', 'post',  $api.getStorage('deviceToken'), {
            member_id: $api.getStorage('uid')
          }, (res, err) => {
						if (res.code == 200) {
							// console.log(res.data)
							_this.qiniuToken=res.data;
						} else {
							api.toast({
								msg: '网络错误，请稍后再试'
							});
						}
					})
          // api.ajax({
          //   url: baseUrl + 'qiniu/token',
          //   method: 'get',
          //   headers: {
          //     token: $api.getStorage('deviceToken')
          //   },
          //   data: {
          //     values: {
          //       uid: $api.getStorage('uid')
          //     }
          //   }
          // }, function (ret, err) {
          //   if (ret.status == 200) {
          //     _this.qiniuToken = ret.data[0];
          //   }
          // })
        },
        actionSelector: function () {
          var _this = this;
          var UIActionSelector = api.require('UIActionSelector');
          UIActionSelector.open({
            datas: [{
              name: '白羊座',
              id: 1
            },
            {
              name: '金牛座',
              id: 2
            },
            {
              name: '双子座',
              id: 3
            },
            {
              name: '巨蟹座',
              id: 4
            },
            {
              name: '狮子座',
              id: 5
            },
            {
              name: '处女座',
              id: 6
            },
            {
              name: '天秤座',
              id: 7
            },
            {
              name: '天蝎座',
              id: 8
            },
            {
              name: '射手座',
              id: 9
            },
            {
              name: '魔蝎座',
              id: 10
            },
            {
              name: '水瓶座',
              id: 11
            },
            {
              name: '双鱼座',
              id: 12
            }
            ],
            layout: {
              row: 5,
              col: 1,
              height: 30,
              size: 14,
              sizeActive: 16,
              rowSpacing: 5,
              colSpacing: 10,
              maskBg: 'rgba(0,0,0,0.2)',
              bg: '#fff',
              color: '#888',
              colorActive: '#f00',
              colorSelected: '#f00'
            },
            animation: true,
            cancel: {
              text: '取消',
              size: 14,
              w: 60,
              h: 32,
              bg: '#6cd9b6',
              bgActive: '#ccc',
              color: '#fff',
              colorActive: '#fff'
            },
            ok: {
              text: '确定',
              size: 14,
              w: 60,
              h: 32,
              bg: '#6cd9b6',
              bgActive: '#ccc',
              color: '#fff',
              colorActive: '#fff'
            },
            title: {
              text: '请选择星座',
              size: 14,
              h: 44,
              bg: '#fff',
              color: '#888'
            },
            fixedOn: api.frameName
          }, function (ret, err) {
            if (ret) {
              _this.constellationText = ret.selectedInfo[0].name;
              _this.form.constellation = parseInt(ret.selectedInfo[0].id);
            } else {
              api.toast({
                msg: JSON.stringify(err)
              })
            }
          });
        },
        // 服务类目
        selectoCate() {
          let UIMultiSelector = api.require('UIMultiSelector');
          UIMultiSelector.open({
            text: {
              title: '选择服务类目',
              rightBtn: '确定',
              selectAll: ''
            },
            max: 3,
            styles: {
              bg: '#fff',
              mask: 'rgba(0,0,0,0.2)',
              title: {
                bg: '#fff',
                size: 14,
                color: '#888',
                h: 44
              },
              leftButton: {
                bg: '#6cd9b6',
                size: 14,
                w: 60,
                h: 32,
                color: '#fff'
              },
              rightButton: {
                bg: '#6cd9b6',
                size: 14,
                w: 60,
                h: 32,
                color: '#fff'
              },
              item: {
                color: '#888',
                active: '#f00',
                textAlign: 'center'
              }
            },
            items: [{
              text: '约玩'
            }, {
              text: '约游戏'
            }, {
              text: '约聊'
            }]
          }, (res, err) => {
            if (res) {
              let info = res.eventType;
              let val = res.items;
              if (info === 'clickRight') {
                if (val[0] == undefined) {
                  UIMultiSelector.close();
                } else {
                  // 点击确认按钮,并选中
                }
              } else if (info === 'clickLeft' || info === 'clickMask') {
                UIMultiSelector.close();
              }
            } else {
              api.toast({
                msg: JSON.stringify(err)
              })
            }
          })
        },
        //提交认证信息
        // confirm: function () {
        //   var _this = this;
        //   var phonehaoReg = /^1[34578][0-9]{9}$/;
        //   if (_this.form.photo == '') {
        //     api.toast({
        //       msg: '请上传认证照片',
        //       duration: 2000,
        //       location: 'bottom'
        //     });
        //     return false;
        //   };
        //   if (_this.form.height == '') {
        //     api.toast({
        //       msg: '请填写身高',
        //       duration: 2000,
        //       location: 'bottom'
        //     });
        //     return false;
        //   };
        //   if (_this.form.weight == '') {
        //     api.toast({
        //       msg: '请填写体重',
        //       duration: 2000,
        //       location: 'bottom'
        //     });
        //     return false;
        //   };
        //   if (_this.form.age == '') {
        //     api.toast({
        //       msg: '请填写年龄',
        //       duration: 2000,
        //       location: 'bottom'
        //     });
        //     return false;
        //   };
        //   if (_this.form.realname == '') {
        //     api.toast({
        //       msg: '请填写真实姓名',
        //       duration: 2000,
        //       location: 'bottom'
        //     });
        //     return false;
        //   };
        //   // if (_this.form.occupation == '') {
        //   //   api.toast({
        //   //     msg: '请填写职业',
        //   //     duration: 2000,
        //   //     location: 'bottom'
        //   //   });
        //   //   return false;
        //   // };
        //   if (_this.form.constellation == 0) {
        //     api.toast({
        //       msg: '请选择星座',
        //       duration: 2000,
        //       location: 'bottom'
        //     });
        //     return false;
        //   };
        //   // if (_this.form.about == '') {
        //   //   api.toast({
        //   //     msg: '请填写个人介绍',
        //   //     duration: 2000,
        //   //     location: 'bottom'
        //   //   });
        //   //   return false;
        //   // };
        //   if (_this.form.wechatID == '') {
        //     api.toast({
        //       msg: '请填写微信账号',
        //       duration: 2000,
        //       location: 'bottom'
        //     });
        //     return false;
        //   };
        //   if (!phonehaoReg.test(_this.form.phone)) {
        //     api.toast({
        //       msg: '请输入正确的手机号码',
        //       duration: 2000,
        //       location: 'bottom'
        //     });
        //     return false;
        //   };
        //   api.ajax({
        //     url: baseUrl + 'certification/store',
        //     method: 'post',
        //     headers: {
        //       token: $api.getStorage('deviceToken')
        //     },
        //     data: {
        //       values: _this.form
        //     }
        //   }, function (ret, err) {
        //     if (ret.status == 200) {
        //       api.toast({
        //         msg: '提交成功，请耐心等待审核',
        //         duration: 2000,
        //         location: 'bottom'
        //       });
        //       api.sendEvent({
        //         name: 'refreshMy',
        //       });
        //       setTimeout(function () {
        //         api.closeWin();
        //       }, 1000);
        //     } else if (ret.status == 400) {
        //       api.toast({
        //         msg: ret.message[0],
        //         duration: 2000,
        //         location: 'bottom'
        //       });

        //     }
        //   })
        // },
        confirm() {
          let _this = this;
          let form = _this.form
          let phonehaoReg = /^1[34578][0-9]{9}$/;
          let url=form.lx==1 ? 'home_game_certification' : 'home_entertainment_certification'
          if (form.age == ''  || form.picture=='') {
            api.toast({
              msg: '请填写正确信息'
            });
            return false;
          }
          // if (!phonehaoReg.test(form.tel)) {
          //   api.toast({
          //     msg: '请输入正确的手机号码',
          //     duration: 2000,
          //   });
          //   return false;
          // };
          if (form.lx == 1) {
            if (form.level == '' || form.regional == '') {
              api.toast({
                msg: '请输入正确信息'
              });
              return false;
            }
          } else if (form.lx == 2) {
            if (form.height == '' || form.weight == '') {
              api.toast({
                msg: '请输入正确信息'
              });
              return false;
            }
          }

          axios(url, 'post', $api.getStorage('deviceToken'), this.form, (res, err) => {
            // console.log(JSON.stringify(res))
            // console.log(JSON.stringify(err))
            if (res) {
              api.toast({
                msg: '提交成功，请耐心等待审核',
                duration: 2000,
              });
              setTimeout(function () {
                 api.closeWin();
               }, 1000);
            }
            else if (err) {
              api.toast({
                msg: ret.message[0],
                duration: 2000,
              });
            }
          })
        },
        // 后退
        goback: function () {
          api.closeWin();
        }
      },
      computed: {
        isLogin() {

        }
      },
      watch: {
        // "form.height": function () {
        //   this.watchModel()
        // },
        // "form.weight": function () {
        //   this.watchModel()
        // },
        // "form.age": function () {
        //   this.watchModel()
        // },
        // "form.realname": function () {
        //   this.watchModel()
        // },
        // "form.wechatID": function () {
        //   this.watchModel()
        // },
        // "form.phone": function () {
        //   this.watchModel()
        // },

      }
    })
  }
</script>