<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
  <title>我的访客</title>
  <link rel="stylesheet" type="text/css" href="../css/api.css" />
  <link rel="stylesheet" type="text/css" href="../css/nearby.css" />
  <style>
    .history_header{width: 100%;height: 50px;}
    .history_header span {width: 50%;height: 50px;line-height: 50px;text-align: center;float: left;font-size: 16px;}    
    /* .history_header span:first-child{color: #fbd043 }    */
    .active{color: #e12e85}
  </style>
</head>

<body>
  <div id="app" v-cloak>
    <div class="wrap flex-wrap flex-vertical">

      <div class="history_header border-bottom">
        <!-- <span >看过我的人</span>
            <span >我看过的人</span> -->
        <span :class="[ history_type == 'default' ? 'active' : '']" v-on:click="rankingTypeSelect('default')">看过我的人</span>
        <span :class="[ history_type == 'my' ? 'active' : '']" v-on:click="rankingTypeSelect('my')">我看过的人</span>
      </div>

      <div class="flex-con">
        <div v-if="all!=''" class="list-wrap">
          <div @click="openDetail(item.member_id)" v-for="(item, i) in all" class="list-item">
            <div class="avatar">
              <img :src="item.avatar" alt="">
            </div>
            <div class="info-wrap">
              <div class="name">{{item.name}}
                <span :class="['age'+item.sex]">
                  <i :class="['icon-sex' + item.sex, 'iconfont']"></i>{{item.age}}</span>
              </div>
              <div class="info">{{item.city}}</div>
            </div>
            <i class="iconfont icon-next"></i>
          </div>
        </div>
        <div v-else class="empty-wrap">
          <img class="empty-img" src="../image/empty.png">
          <div class="empty-text">😔暂无访客</div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/vue.js"></script>
<script type="text/javascript" src="../script/common.js"></script>
<script type="text/javascript">
  var app;
  apiready = function () {
    // if (api.systemType == 'android') {
    //   api.setScreenSecure({
    //     secure: true
    //   });
    // }
    app = new Vue({
      el: '#app',
      data: {
        history_type: 'default',
        list: [],
        city: '',
        info: {},
        page: 1,
        all: [],
      },
      created: function () {
        var _this = this;
        api.setRefreshHeaderInfo({
          bgColor: '#ccc',
          textColor: '#fff',
          textDown: '下拉刷新...',
          textUp: '松开刷新...'
        }, function (ret, err) {
          _this.page = 1;
          setTimeout(function () {
            _this.getHomeLocal();
          }, 1000);
        });
        api.addEventListener({
          name: 'scrolltobottom',
          extra: {
            threshold: 0
          }
        }, function (ret, err) {
          setTimeout(function () {
            _this.getHomeLocal();
          }, 500);
        });
      },
      mounted: function () {
        var _this = this;
        _this.getHomeLocal(_this.history_type);
      },
      methods: {
        rankingTypeSelect: function (type) {
          // alert(type)
          var _this = this;
          _this.history_type = type;
          _this.getHomeLocal(_this.history_type);

        },

        getHomeLocal: function (type) {
          var _this = this;
          // alert(type)
          // alert(_this.history_type)
          // api.showProgress({
          //   title: '',
          //   text: ''
          // });
          // alert($api.getStorage('deviceToken'))
          api.ajax({
            url: baseUrl + 'user/log',
            method: 'get',
            headers: {
              token: $api.getStorage('deviceToken')
            },
            data: {
              values: {
                uid: $api.getStorage('uid'),
                type: type
              },
            }
          }, function (ret, err) {
            api.refreshHeaderLoadDone();
            // alert(JSON.stringify(ret))

            // console.log(JSON.stringify(ret.data[0].member))
            if (ret.status == 200) {
              if (_this.history_type == "default") {
                // alert("1")
                _this.all = [];
                for (var i = 0; i < ret.data.length; i++) {

                  _this.all.push(ret.data[i].member)

                }

                // if (_this.page == 1) {
                //   _this.page++;
                //   for (var i = 0; i < ret.data.length; i++) {

                //       _this.all.push(ret.data[i].member)

                //     }
                // } else if (_this.page <= ret.pagination.last_page) {
                //   _this.page++;
                //   _this.all.push(ret.data[i].member)

                // } else {
                //   api.toast({
                //     msg: '没有更多了'
                //   })
                // }

              } else {
                // 我访问的人
                _this.all = [];

                for (var i = 0; i < ret.data.length; i++) {
                  _this.all.push(ret.data[i].read)
                }
                //  if (_this.page == 1) {
                //       _this.page++;
                //       for (var i = 0; i < ret.data.length; i++) {

                //           _this.all.push(ret.data[i].read)

                //         }
                //     } else if (_this.page <= ret.pagination.last_page) {
                //       _this.page++;
                //       _this.all.push(ret.data[i].read)

                //     } else {
                //       api.toast({
                //         msg: '没有更多了'
                //       })
                //     }

              }
              // alert(JSON.stringify(ret.data[0].member))
              // console.log(JSON.stringify(ret.data))
            }

            // api.hideProgress();
            // if (ret.status == 200) {
            //   if (_this.page == 1) {
            // 		_this.page++;
            //     _this.list = ret.data.list;
            //     _this.city = ret.city;
            //     _this.info = ret.info;
            // 	} else if (_this.page <= ret.pagination.last_page) {
            // 		_this.page++;
            // 		for (var i = 0; i < ret.data.list.length; i++) {
            // 			_this.list.push(ret.data.list[i])
            // 		}
            // 	} else {
            // 		api.toast({
            // 			msg: '没有更多了'
            // 		})
            // 	}
            // }
          })
        },

        // 个人主页
        openDetail: function (id) {
          var _this = this;
          if (_this.info.level == '0') {
            api.sendEvent({
              name: 'openDialogBox',
            });
          } else {
            api.openWin({
              name: 'user_home',
              url: 'user_home.html',
              slidBackEnabled: false,
              pageParam: {
                member_id: id
              }
            });
          }
        },

      },
    })
  }
</script>