@import 'http://at.alicdn.com/t/font_578379_k03tx603kw.css';
html,
body {
  font-size: 14px;
  height: 100%;
}
#app,
.wrap,
.main {
  height: 100%;
}
.flex-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.flex-wrap.flex-vertical {
  -webkit-box-orient: vertical;
  -webkit-flex-flow: column;
  flex-flow: column;
}
.flex-wrap .flex-con {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.main {
  width: 100%;
  height: 100%;
}
.icon {
  display: inline-block;
  background: url(../image/icons.png) no-repeat;
  background-size: 400px 400px;
}
.status-bar {
  width: 100%;
  background: transparent;
}
#header {
  height: 40px;
  line-height: 40px;
  background-color: #fff;
}
#header .header-home {
  display: flex;
}
#header .header-home .search-wrap {
  width: 40px;
  line-height: 40px;
  text-align: center;
  margin-right: 20px;
}
#header .header-home .search-wrap .iconfont {
  font-size: 20px;
  color: #000;
}
#header .header-home .nav {
  width: 100%;
  text-align: center;
  display: flex;
}
#header .header-home .nav a {
  flex: 1;
  padding: 0 5px;
  line-height: 38px;
  color: #000;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#header .header-home .nav a.active {
  border-bottom: 2px solid #000;
  color: #ffc900;
}
#header .header-message {
  width: 100%;
  display: flex;
  position: relative;
}
#header .header-message .header-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
#header .header-message .header-right .iconfont {
  font-size: 20px;
  color: #fff;
}
#header .header-message .nav {
  margin-left: 35%;
}
#header .header-message .nav a {
  padding: 0 10px;
  flex: 1;
  line-height: 38px;
  color: #fff;
  font-size: 16px;
}
#header .header-message .nav a.active {
  border-bottom: 2px solid #fff;
}
#header .header-wrap {
  position: relative;
}
#header .header-wrap .header-biaoji {
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  color: #fff;
  display: inline-block;
}
#header .header-wrap .header-left,
#header .header-wrap .header-right {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
#header .header-wrap .header-left .iconfont,
#header .header-wrap .header-right .iconfont {
  font-size: 20px;
  color: #000;
}
#header .header-wrap .header-right {
  left: auto;
  right: 0;
}
#header .header-wrap .header-title {
  text-align: center;
  font-size: 16px;
  color: #000;
}
#footer {
  border-top: 1px solid #efefef;
  background-color: #fff;
  height: 50px;
  line-height: 50px;
  padding-top: 5px;
}
#footer ul li {
  padding: 5px 0;
  text-align: center;
  font-size: 12px;
  color: #555;
  min-width: 20%;
  position: relative;
}
#footer ul li .messageBadge {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #f00;
  position: absolute;
  right: 12px;
  top: 12px;
}
#footer ul li i.icon {
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
  line-height: 50px;
}
#footer ul li.active {
  color: #fff;
}
#footer ul li.active .icon-tab0 {
  background-position: 0 0;
}
#footer ul li.active .icon-tab1 {
  background-position: 0 -40px;
}
#footer ul li.active .icon-tab2 {
  background-position: 0 -80px;
}
#footer ul li.active .icon-tab3 {
  background-position: 0 -160px;
}
#footer ul li.active .icon-tab4 {
  background-position: 0 -160px;
}
#footer ul li .icon-tab0 {
  background-position: -40px 0;
}
#footer ul li .icon-tab1 {
  background-position: -40px -40px;
}
#footer ul li .icon-tab2 {
  background-position: -40px -80px;
}
#footer ul li .icon-tab3 {
  background-position: -40px -160px;
}
#footer ul li .icon-tab4 {
  background-position: -40px -160px;
}
#footer ul li .title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
input,
button {
  appearance: none;
  outline: medium;
}
.empty-img {
  width: 150px;
  margin: 80px auto 10px;
  display: block;
}
.empty-text {
  font-size: 12px;
  text-align: center;
  width: 100%;
}
.see_detail {
  width: 22px;
  height: 22px;
  margin-right: 15px;
  margin-top: 8px;
}
.form-wrap {
  padding: 20px;
}
.form-wrap .form-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.form-wrap .form-item .iconfont {
  line-height: 40px;
  color: #555;
}
.form-wrap .form-item input {
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  text-indent: 10px;
  font-size: 12px;
}
.form-wrap .form-item .sendMessage-btn {
  color: #fff;
  background-color: #e12e85;
  border-radius: 5px;
  width: 100px;
  font-size: 12px;
}
.form-wrap .form-item .sendMessage-btn.disabled {
  background-color: #ccc;
}
.form-wrap .form-item.sex-wrap {
  border: none;
  justify-content: space-around;
}
.form-wrap .form-item.sex-wrap .sex {
  padding: 0 20px;
  position: relative;
  font-size: 12px;
  border-radius: 50px;
  background-color: #ccc;
  height: 40px;
  line-height: 40px;
  color: #fff;
}
.form-wrap .form-item.sex-wrap .sex .iconfont {
  font-size: 14px;
  color: #fff;
  margin-right: 3px;
}
.form-wrap .form-item.sex-wrap .sex input {
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
}
.form-wrap .form-item.sex-wrap .sex.sex0.active {
  background-color: #54b2ff;
}
.form-wrap .form-item.sex-wrap .sex.sex1.active {
  background-color: #ff74a0;
}
.form-wrap .btn-wrap button {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #e12e85;
  color: #fff;
  border-radius: 5px;
}
.form-wrap .btn-wrap .btn {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #e12e85;
  color: #fff;
  border-radius: 5px;
}
.box {
  padding: 0 20px;
  line-height: 30px;
}
.box .beizhu {
  width: 100%;
  color: #fbd043;
  text-align: center;
}
.forget-wrap {
  padding: 0 20px;
  justify-content: space-between;
}
.forget-wrap a {
  color: #e12e85;
}
.agreement-wrap {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 100%;
  text-align: center;
}
.agreement-wrap a {
  color: #e12e85;
}
.agreement-wrap div {
  text-align: center;
}
.agreement-wrap div span {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 20px;
  background-color: #e12e85;
  color: #fff;
}
.btn-active {
  background-color: #faec80;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #fff;
  border-radius: 5px;
}
