@import 'http://at.alicdn.com/t/font_578379_k03tx603kw.css';
@import 'http://at.alicdn.com/t/font_1063748_szoqhrhke0j.css';
html,
body {
  font-size: 14px;
  height: 100%;
}
#app,
.wrap,
.main {
  height: 100%;
  background-color: #fff;
}
.flex-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  background-color: #fff;
}
.flex-wrap.flex-vertical {
  -webkit-box-orient: vertical;
  -webkit-flex-flow: column;
  flex-flow: column;
}
.flex-wrap .flex-con {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.main {
  width: 100%;
  height: 100%;
}
.icon {
  display: inline-block;
  background: url(../image/icons.png) no-repeat;
  background-size: 400px 400px;
}
.status-bar {
  width: 100%;
  background: transparent;
}
#header {
  height: 40px;
  line-height: 40px;
  background-color: #fff;
}
#header .header-home {
  display: flex;
}
#header .header-home .search-wrap {
  width: 40px;
  line-height: 40px;
  text-align: center;
  margin-right: 20px;
}
#header .header-home .search-wrap .iconfont {
  font-size: 20px;
  color: #000;
}
#header .header-home .nav {
  width: 100%;
  text-align: center;
  display: flex;
}
#header .header-home .nav a {
  flex: 1;
  padding: 0 5px;
  line-height: 38px;
  color: #000;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#header .header-home .nav a.active {
  border-bottom: 2px solid #000;
  color: #e12e85;
}
#header .header-home .search-home {
  width: 100%;
  height: 30px;
  display: flex;
}
#header .header-home .search-home i {
  font-size: 20px;
  line-height: 30px;
  margin-right: 20px;
  padding-left: 10px;
  color: #999;
}
#header .header-home .search-home div {
  flex: 1;
  height: 100%;
  line-height: 30px;
  color: #999;
}
#header .header-message {
  width: 100%;
  display: flex;
  text-align: center;
}
#header .header-message .header-title {
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #000;
}
#header .header-message .header-title .header-right {
  float: right;
  margin-right: 10px;
  font-size: 14px;
}
#header .header-message .header-title .header-left {
  float: left;
  margin-left: 10px;
  font-size: 14px;
}
#header .header-wrap {
  position: relative;
}
#header .header-wrap .header-biaoji {
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  color: #fff;
  display: inline-block;
}
#header .header-wrap .header-left,
#header .header-wrap .header-right {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
#header .header-wrap .header-left .iconfont,
#header .header-wrap .header-right .iconfont {
  font-size: 20px;
  color: #000;
}
#header .header-wrap .header-right {
  left: auto;
  right: 0;
}
#header .header-wrap .header-title {
  text-align: center;
  font-size: 16px;
  color: #000;
}
.adMain {
  width: 100%;
  height: 95%;
  position: relative;
}
.adMain span {
  width: 30px ;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
}
.adMain a {
  width: 100%;
  height: 100%;
}
.adMain a img {
  width: 100%;
  height: 100%;
}
#footer {
  border-top: 1px solid #efefef;
  background-color: #fff;
  height: 50px;
  line-height: 50px;
  padding-top: 5px;
}
#footer ul li {
  padding: 5px 0;
  text-align: center;
  font-size: 12px;
  color: #555;
  min-width: 20%;
  position: relative;
}
#footer ul li .messageBadge {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #f00;
  position: absolute;
  right: 12px;
  top: 12px;
}
#footer ul li i.icon {
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
  line-height: 50px;
}
#footer ul li.active {
  color: #e12e85;
}
#footer ul li.active .icon-tab0 {
  background-position: 0 0;
}
#footer ul li.active .icon-tab1 {
  background-position: 0 -80px;
}
#footer ul li.active .icon-tab2 {
  background-position: 0 -120px;
}
#footer ul li.active .icon-tab3 {
  background-position: 0 -160px;
}
#footer ul li.active .icon-tab4 {
  background-position: 0 -160px;
}
#footer ul li .icon-tab0 {
  background-position: -40px 0;
}
#footer ul li .icon-tab1 {
  background-position: -40px -80px;
}
#footer ul li .icon-tab2 {
  background-position: -40px -120px;
}
#footer ul li .icon-tab3 {
  background-position: -40px -160px;
}
#footer ul li .icon-tab4 {
  background-position: -40px -160px;
}
#footer ul li .title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
input,
button {
  appearance: none;
  outline: medium;
}
.empty-img {
  width: 150px;
  margin: 80px auto 10px;
  display: block;
}
.empty-text {
  font-size: 12px;
  text-align: center;
  width: 100%;
}
.see_detail {
  width: 22px;
  height: 22px;
  margin-right: 15px;
  margin-top: 8px;
}
.header-video {
  display: flex;
}
.header-video .nav .nav-left {
  float: right;
}
.header-video .nav .nav-right {
  float: left;
  color: #fff;
}
img {
  width: 100%;
  display: block;
}
html,
body {
  background-color: #eff3f4;
}
.searchBox {
  width: 100%;
  height: 50px;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding: 10px;
  color: #555;
  box-sizing: border-box;
  position: relative;
}
.searchBox .search-input {
  width: 100%;
  height: 30px;
  line-height: 30px;
  border-radius: 6px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  border: 0;
  background: #fff;
  box-sizing: border-box;
  padding-left: 34px;
}
.searchBox #search-btn {
  width: 60px;
  height: 30px;
  display: block;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  color: #e12e85;
}
.searchBox .searchImg {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 20px;
  top: 4px;
}
.searchResult-title {
  color: #555;
  background: #f2f3f4;
  line-height: 32px;
  padding-left: 10px;
}
.searchResult-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #fff;
  border-bottom: 1px solid #f2f3f4;
}
.searchResult-item .eq {
  margin-right: 10px;
}
.searchResult-item .eq .icon {
  width: 20px;
  height: 20px;
}
.searchResult-item .eq .icon.icon-ranking0 {
  background-position: -320px -40px;
}
.searchResult-item .eq .icon.icon-ranking1 {
  background-position: -340px -40px;
}
.searchResult-item .eq .icon.icon-ranking2 {
  background-position: -360px -40px;
}
.searchResult-item .eq .eq-text {
  width: 20px;
  text-align: center;
  font-size: 14px;
}
.searchResult-item .avatar {
  line-height: 0;
  margin: 0 10px;
}
.searchResult-item .avatar img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}
.searchResult-item .info-wrap {
  flex: 1;
}
.searchResult-item .info-wrap .name {
  font-size: 14px;
  margin-bottom: 2px;
}
.searchResult-item .info-wrap .name .age {
  height: 14px;
  line-height: 14px;
  margin-left: 10px;
  padding: 0 6px;
  background: #fd85cc;
  color: #fff;
  border-radius: 20px;
  font-size: 12px;
  text-align: center;
}
.searchResult-item .info-wrap .name .age .iconfont {
  font-size: 12px;
}
.searchResult-item .info-wrap .name .age1 {
  height: 14px;
  line-height: 14px;
  margin-left: 10px;
  padding: 0 6px;
  background: #0000CD;
  color: #fff;
  border-radius: 20px;
  font-size: 12px;
  text-align: center;
}
.searchResult-item .info-wrap .name .age1 .iconfont {
  font-size: 12px;
}
.searchResult-item .info-wrap .name .age2 {
  height: 14px;
  line-height: 14px;
  margin-left: 10px;
  padding: 0 6px;
  background: #fd85cc;
  color: #fff;
  border-radius: 20px;
  font-size: 12px;
  text-align: center;
}
.searchResult-item .info-wrap .name .age2 .iconfont {
  font-size: 12px;
}
.searchResult-item .info-wrap .info {
  font-size: 12px;
  color: #999;
}
.searchResult-item .icon-next {
  font-size: 12px;
  color: #999;
}
.chat_list {
  display: flex;
  flex-wrap: wrap;
}
.chat_list .chat_items {
  flex: 1;
  min-width: 35%;
  min-height: 150px;
  max-width: 50%;
  margin-top: 10px;
}
.chat_list .chat_items .chat_items_img {
  min-height: 150px;
  padding: 0 15px;
  border-radius: 5px;
  position: relative;
}
.chat_list .chat_items .chat_items_img img {
  width: 100%;
  border-radius: 5px;
  background-color: #eee;
}
.chat_list .chat_items .chat_items_img .img_label {
  position: absolute;
  top: 20px;
  left: 15px;
  padding: 5px 10px;
  background-color: #343539;
  color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.chat_list .chat_items .chat_items_img .chat_items_img_num {
  position: absolute;
  left: 15px;
  bottom: 10px;
}
.chat_list .chat_items .chat_items_img .chat_items_img_num img {
  width: 25px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0);
}
.chat_list .chat_items .chat_items_img .chat_items_img_num span {
  font-size: 12px;
  vertical-align: top;
  line-height: 26px;
  color: #fff;
}
.chat_list .chat_items .chat_items_img:nth-child(2n) {
  padding-left: 0px !important;
}
.chat_list .chat_items .chat_items_info {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-right: 15px;
}
.chat_list .chat_items .chat_items_info p {
  line-height: 20px;
  font-size: 12px;
  color: #868686;
}
